menu "SDK Components"

source "$SDK_BASE/components/nr_micro_shell/Kconfig"
source "$SDK_BASE/components/cJSON/Kconfig"
source "$SDK_BASE/components/lv_drivers/Kconfig"
source "$SDK_BASE/components/miniaudio/Kconfig"
source "$SDK_BASE/components/SDL2/Kconfig"
source "$SDK_BASE/components/lvgl/Kconfig"
source "$SDK_BASE/components/QCBOR/Kconfig"
source "$SDK_BASE/components/opus/Kconfig"
source "$SDK_BASE/components/mbedtls/Kconfig"
source "$SDK_BASE/components/dlg/Kconfig"
source "$SDK_BASE/components/libqrencode/Kconfig"
source "$SDK_BASE/components/LinkSDK/Kconfig"
endmenu