menuconfig LVGL
    bool "lvgl"
    default y

if LVGL
    config LVGL_EXAMPLES
            bool "enable LVGL_EXAMPLES."
            default n
            depends on LVGL
    config LVGL_DEMOS
            bool "enable LVGL_DEMOS."
            default n
            depends on LVGL
endif